{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-organize-imports","prettier-plugin-tailwindcss"],
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"tailwindStylesheet": "./app/globals.css",
	"useTabs": true
}
